<div style="padding: 30px;">
    <div fxLayout="column" fxLayoutAlign="center center">

       <h2> <a style="font-size:15pt;">ADD PRODUCT</a></h2>
       
        <mat-form-field appearance="outline" style="margin-top: 30px;">
            <mat-label>Product Name</mat-label>
            <input matInput type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput type="number">
        </mat-form-field>

        <mat-form-field appearance="outline" >
            <mat-label>Description</mat-label>
            <input matInput type="text">
        </mat-form-field>
        
        <!-- <mat-form-field appearance="outline">
            <mat-label>Images</mat-label>
            <input matInput>
        </mat-form-field> -->
          
        <button mat-raised-button color="primary" style="margin-top: 20px;">
            
            <a style="font-size: 10pt;">upload Images</a>
        </button>




        <button mat-raised-button color="primary" style="margin-top: 40px;">
            <a style="font-size: 10pt;">SUBMIT</a>
        </button>
       
    </div>
</div>
