<div style="padding: 30px;">
    <div fxLayout="column" fxLayoutAlign="center center">

      <a style="font-size: 20pt;">Sign up</a>

      <a style="font-size: 8pt;"><b>Please fill in this form to create an account!</b></a>
        <mat-form-field appearance="outline" style="margin-top: 30px;">
            <mat-label>Enter Name</mat-label>
            <input matInput type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enter Phone No</mat-label>
            <input matInput type="number">
        </mat-form-field>
        

     <mat-form-field appearance="outline" >
            <mat-label> Enter Email</mat-label>
            <input matInput type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Create a Password</mat-label>
            <input matInput type="password">
        </mat-form-field>
        <button mat-raised-button color="primary" style="margin-top: 40px;">
            <a  style="font-size: 10pt;" >Sign up</a>
        </button>

        <button mat-raised-button color="primary" style="margin-top: 20px;"  (click)="onSignIn()">
            <a  style="font-size: 10pt;" > <-Back to LOGIN</a>
        </button>
      
    </div>
</div>