<div style="padding: 30px;">
    <div fxLayout="column" fxLayoutAlign="center center">

        <a style="font-size:15pt;">WELCOME TO ICFAI KART</a>
        <a style="font-size: 7pt;"><b>Enter your Email and Password to Sign In</b></a>

        <mat-form-field appearance="outline" style="margin-top: 30px;">
            <mat-label>Email</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password">
        </mat-form-field>
        <button mat-raised-button color="primary" style="margin-top: 40px;">
            <a style="font-size: 10pt;">LOGIN</a>
        </button>
        <button mat-raised-button color="primary" style="margin-top: 20px;" (click)="onSignUp()">
            <a style="font-size: 10pt;">Sign up</a>
        </button>
    </div>
</div>