<div fxLayout="column" fxLayoutAlign="center center" style="padding: 60px;">
    <p style="font-size: 15pt;">Welcome to ICFAI KART</p>

    <p style="font-size: 10pt;">Enter your Email and Password to Sign In</p>

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput ="[(ngModel)]email">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput ="[(ngModel)]password">
    </mat-form-field>

    <button style="margin-top: 20px;" mat-raised-button color="primary" (click)="onSignInPost()" >LOGIN</button>

    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" style=" margin-top: 15px" (click)="onSignUp()" >Sign Up</button>    
    </div>
</div>