<div style="background-color: #0fe9d7; height: 80px;">

    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" style="margin-top: 30px; margin-right: 20px;" >
        <mat-icon>menu</mat-icon>
      </button>


</div>
<div fxLayout="row" fxLayoutAlign="center center" style="padding: 30px;">
    <mat-form-field appearance="outline" style="margin-top: 30px; margin-right: 20px; min-width: 500px;">
        <mat-label>List OF Products </mat-label>
        <input matInput type="text">
    </mat-form-field>

    <button mat-fab color="primary" >
        <mat-icon>search</mat-icon>
    </button>
</div>

<div fxLayout="column" fxLayoutAlign="center center" >
    <button mat-raised-button color="primary" style="margin-top: 20px;">
        <a  style="font-size: 30pt;"  >+</a>
    </button>
</div>

