<!-- 

  <button mat-button [matMenuTriggerFor]="menu">
    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" style="margin-top: 30px; margin-right: 20px; border-radius: 100%;"  >
        <mat-icon>menu</mat-icon>
      </button>
    
    
    </button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

   -->
   <!-- <div style="padding: 30px;">
   <div fxLayout="column" fxLayoutAlign="center center"> -->
<!-- <div class="container"> -->

  <!-- <div class="row"> -->
    <!-- <ng-container *ngfor="let item of Productlist"> -->
      <!-- <div class="card col-md-3">
        <img src="" alt="">
        <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 250px ;height: 200px;"></h5>
        <p></p>
        <p></p>
        <button class="btn btn-primary">add to cart</button>
      </div>
  </div> -->

<!-- </div> -->
<!-- </div> -->
<!-- </div> -->


<!-- 
<div style="padding: 30px;" >
   <div >

     <div class="card col-md-3">
       <img src="" alt="">
       <h4 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 250px ; height: 200px;"></h4>
       <p></p>
       <p></p>
       <button class="btn btn-primary">add to cart</button>
       </div>
       <div class="card col-md-3">
        <img src="" alt="">
        <h4 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 250px ; height: 200px;"></h4>
        <p></p>
        <p></p>
        <button class="btn btn-primary">add to cart</button>
        </div>
     </div>
     
     </div> -->






<!-- <div>

     

     <div  fxLayout="column" fxLayoutAlign="center center">

      <div class="card col-md-4">
        <img src="" alt="">
        <h4 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 250px ; height: 200px;"></h4>
        <p></p>
        <p></p>
        <button class="btn btn-primary">add to cart</button>
      </div>
      
      </div>


</div> -->




<!-- <mat-grid-list cols="3" rowHeight="6:1"gutterSize="10px" >

<mat-grid-tile style="background-color: rgb(77, 180, 111);">1</mat-grid-tile>
<mat-grid-tile style="background-color: rgb(77, 180, 111);">1</mat-grid-tile>
<mat-grid-tile style="background-color: rgb(180, 77, 163);">1</mat-grid-tile>

</mat-grid-list> -->

<!-- <mat-card class="mcard" mat-grid-list cols="2" >
<mat-card-header>

<mat-card-title>E-com</mat-card-title>
<mat-card-subtitle>mango 2</mat-card-subtitle>

</mat-card-header>
<img mat-card-image src="" alt="">
<mat-card-content>
  <p>hi chayan</p>
</mat-card-content>

<mat-card-actions mat-grid-list cols="3">
  <button mat-icon-button color="accent">
    <mat-icon>favorite</mat-icon>
  </button>

  <button mat-icon-button color="primary">
    <mat-icon>share</mat-icon>
  </button>

</mat-card-actions>
</mat-card> -->





<!-- 
<mat-card class="mcard" >
  <mat-card-header>
  
  <mat-card-title>-com</mat-card-title>
  <mat-card-subtitle>mango 2</mat-card-subtitle>
  
  </mat-card-header>
  <img mat-card-image src="" alt="">
  <mat-card-content>
    <p>hi chayan</p>
  </mat-card-content>
  
  <mat-card-actions>
    <button mat-icon-button color="accent">
      <mat-icon>favorite</mat-icon>
    </button>
  
    <button mat-icon-button color="primary">
      <mat-icon>share</mat-icon>
    </button>
  
  </mat-card-actions>
  </mat-card> -->
  <table border="0" width="100%" bgcolor="white">
    <tr>
    <td colspan="3"><h2>Products List </h2><hr></td>
    <tr>
    <th><img src="https://www.qries.com/images/banner_logo.png" width="85%"title="product"><br><br>
      <button class="btn btn-primary">add to cart</button>
    </th>
    <th><img src="https://www.qries.com/images/banner_logo.png" width="85%"title="product"><br><br>
      <button class="btn btn-primary">add to cart</button>
    </th>
    <th><img src="https://www.qries.com/images/banner_logo.png" width="85%"title="product"><br><br>
      <button class="btn btn-primary">add to cart</button>
    </th>
    
    </tr>
    </table>