
<div style="padding: 30px;">
    <div fxLayout="column" fxLayoutAlign="center center">

        <a style="font-size:20pt;">MY SINGLE PRODUCT EDIT</a>

        <mat-form-field appearance="outline" style="margin-top: 30px;">
            <mat-label>Product Name</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput type="password">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Images</mat-label>
            <input matInput type="password">
        </mat-form-field>
        <div>
        <input type="checkbox" />
        <a style="font-size: 15pt;">Mark As Sold</a>
        </div>
        <button mat-raised-button color="primary" style="margin-top: 20px;">
            <a style="font-size: 10pt;">Submit</a>
        </button>
    </div>
</div>