<div style="padding: 30px;">
    <div fxLayout="column" fxLayoutAlign="center center">

       <h2> <a style="font-size:15pt;">MY PRODUCTS</a></h2>
       
        <mat-form-field appearance="outline" style="margin-top: 30px;">
            <mat-label>Product 1</mat-label>
            <input matInput type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Product 2</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <button mat-raised-button color="primary" style="margin-top: 60px;">
            <a style="font-size: 10pt;">Edit</a>
        </button>
        

       
    </div>
</div>

