<div style="padding: 30px;">
    <div fxLayout="column" fxLayoutAlign="center center">
    <center>
    
        <a style="font-size: 30pt;"><b>Home Page</b></a>
         <br><br>
        <br><br>
        <input  placeholder="List of Products" >
        <br><br>
        <style>
            button{
                font-size: 30px;
                padding: 10px;
                border-radius: 10px;
                }
        </style>
        <button mat-raised-button color="primary" style="margin-top: 260px;" style="margin-left: 600px;">
            <a style="font-size: 40px;">+</a>
        </button>
        </center>
    </div>
</div>