<div style="padding: 30px;">
    <div fxLayout="column" fxLayoutAlign="center center">

        <a style="font-size:20pt;">SINGLE PRODUCT PAGE</a>
       <mat-form-field appearance="outline" style="margin-top: 30px;">
            <mat-label>Product Name</mat-label>
            <input matInput type="text">        
        </mat-form-field>

        <button mat-raised-button color="primary" style="margin-top: 20px;">
            <a style="font-size: 10pt;">  Images  </a>
        </button>
  
        <mat-form-field appearance="outline" style="margin-top: 30px;">
            <mat-label>Product Price</mat-label>
            <input matInput type="number">
        </mat-form-field>
        
        <mat-form-field appearance="outline" style="margin-top: 10px;">
            <mat-label>Contact Seller</mat-label>
            <input matInput type="number">
        </mat-form-field>
        <mat-form-field appearance="outline" style="margin-top: 30px;">
            <mat-label>Description </mat-label>
            <textarea matInput type="text"style="max-height: 200px; min-height: 200px;"></textarea>
        </mat-form-field>
    </div>
</div>
