<div style="padding: 30px;">
    <div fxLayout="column" fxLayoutAlign="center center">

        <a style="font-size:20pt;">SINGLE PRODUCT PAGE</a>
        
        <a style="font-size:15pt; margin-top: 25px;"><b>Product Name</b></a>
        <button mat-raised-button color="primary" style="margin-top: 20px;">
            <a style="font-size: 10pt;">  Images  </a>
        </button>
  
        <a style="font-size:15pt; margin-top: 20px;"><b>Price Description</b></a>
        
        <mat-form-field appearance="outline" style="margin-top: 10px;">
            <mat-label>Contact Seller</mat-label>
            <input matInput type="password">
        </mat-form-field>
        
    </div>
</div>
